html, body {
  margin: 0;
  overflow: none;
  padding: 0;
  border: 0;
  background-color: #363636FF;
}
/*** navbar ***/
.topnav {
  font-family: Arial;
  font-size: 4vw;
  margin: 0;
  overflow: hidden;
  background-color: #4D4D4DFF;
}
.topnav a {
  float: left;
  color: #363636FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #363636FF;
  color: #A60000FF;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.topnav a.active {
  background-color: #A60000FF;
  color: #363636FF;
}
table, th, td {
  border: 2px solid #363636FF;
  border-collapse: collapse;
}
th, td {
  background-color: #4D4D4DFF;
  color: #212121FF;
  text-align: center;
}
p {
  color: #4D4D4DFF;
  font-family: Arial;
  font-size: 2vw;
}
button {
  font-family: Arial;
  border: none;
  font-size: 3vw;
  background-color: #4D4D4DFF;
  color: #212121FF;
  border-radius: 12px;
  margin: 5vw;
  padding: 5vw:
}
button:hover {
  background-color: #363636FF;
  color: #A60000FF;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}